[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-vision = "*"
googlemaps = "*"
openai = {extras = ["datalib"], version = "*"}
tiktoken = "*"
python-dotenv = "*"
colr = "*"
usaddress-scourgify = "*"
colorlog = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
